<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <button><a href="/about">go to about page</a></button>
    <button><a href="/contact">go to contact page</a></button>
    <button><a href="/features">go to features Page</a></button>
</body>
</html>